
<header id="botContainerHeader" style="display:none">
    <span id="closeBot">Stänga</span>
</header>
<div id="botContainer" style="display:none"></div>


<div id="floating-bot-loader" style="display: none;">
    <img id="bot-loader" src="~/images/Loading.png" alt="" style="width:300px;">
</div>

<div id="floating-bot" class="animated shake" style="display: none;">
    <img id="floating-bot-image" src="~/images/CallToAction.png" alt="" style="width:300px;">
</div>

